{% extends "base.html" %}

{% block title %}Home - Video Downloader{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to Video Downloader</h1>
    <p>Select a platform to download videos from:</p>
    <ul>
        <li><a href="/download/youtube">YouTube</a></li>
        <li><a href="/download/instagram">Instagram</a></li>
        <li><a href="/download/linkedin">LinkedIn</a></li>
        <li><a href="/download/other">Other Platforms</a></li>
    </ul>
    <div class="ad">Advertisement 1</div>
</div>
{% endblock %}